CompileFlags:
  Add:
    [
      -x,
      c,
      -std=c17,
      -I../include,
      -I/opt/homebrew/Cellar/open-mpi/5.0.9/include,
      -L/opt/homebrew/Cellar/open-mpi/5.0.9/lib,
      -fopenmp,
      -D_OPENMP,
      -DUSE_CUDA,
    ]
