CompileFlags:
  Add:
    - -xcuda
    - --cuda-host-only
    - --std=c++17
    - -I../include
    - -I/opt/homebrew/Cellar/open-mpi/5.0.9/include
    - -fopenmp
    - -D_OPENMP
    - -DUSE_CUDA
    - -Wno-unknown-cuda-version
    - -Wno-unknown-attributes
